.main_table{
    margin: auto;
    width: 50%;
}

.heading{
    text-align: center;
}

.best_score{
  background-color: #eecc9b;
    margin-bottom: 50px;
}
.border{
    border: 2px solid #538B1D;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}
